.App {
  text-align: center;
}

.container-main {
  max-width: 750px;
  margin: auto;
}

.header-container {
  display: flex;
  background-color: #172a3a;
  align-items: flex-start;
  padding-left: 20px;
}

.header-text {
  font-size: 1.6rem;
  color: white;
  padding: 10px;
}

.alert-container {
  background-color: #74b3ce;
  position: sticky;
  top: 0;
  z-index: 1;
}

.alert-text {
  padding: 5px;
  color: white;
}

.article-card {
  display: flex;
  min-height: 25vh;
  margin-top: 1vh;
  margin-bottom: 2vh;
}

.article-title {
  display: flex;
  text-align: left;
}

.card-body {
  display: flex;
}

.vote {
  width: 10%;
  margin-right: 10px;
}

.article-details {
  margin: auto;
}

.topic-tag {
  color: #74b3ce;
}

button {
  margin: 5px;
}

.filter-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 5px;
  margin-bottom: 5px;
}

select {
  padding: 3px;
  padding-right: 10px;
}

.article-body {
  text-align: left;
}

a {
  text-decoration: none !important;
}

.article-sub-details {
  display: flex;
  padding-left: 15px;
  color: #74b3ce;
}

.article-details-author {
  display: flex;
  font-size: 0.8rem;
}

.upVoteArrow {
  cursor: pointer;
}

.green-arrow {
  color: rgb(123, 200, 138);
}
